

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
outputs/*/*.safetensors
outputs/*/*.bin

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Typing / static analysis
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.env.*
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# Logs
*.log
logs/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Project data & outputs
dataset/
checkpoints/
runs/

# Model artifacts
*.pt
*.pth
*.bin
*.onnx

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~
.history/
